<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artistpizza 출석</title>
</head>
<body>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">


 <!-- Class "mdl-data-table-selectable" -->
 <div align="center">
 <h4>Artistpizza</h4>
 <h4>{{ title }}</h4>
 <table class="mdl-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">이름</th>
      <th>출석</th>
      <th>수업</th>
    </tr>
  </thead>
  <tbody>
   {% for key, value in rollbook.items() %}
    <tr>
      <td class="mdl-data-table__cell--non-numeric">{{ key }}</td>
      <td>{{ value.check }}</td>
      <td>{{ value.course }}</td>
    </tr>
   {% endfor %}
  </tbody>
 </table>
 </div>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>